    * {
        margin: 0px;
        padding: 0px;
    }

    .header {
        background-color: white;
        padding: 4px 4px;
    }

    .header-right {
        float: right;
        margin-top: 10px
    }

    .header-right a {
        color: black;
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
    }

    .header-right button {
        text-align: left;
        padding-left: 10px;
        border-radius: 20px;
        height: 30px;
        width: 100px;
    }

    .log:hover,
    .signup:hover {
        background-color: whitesmoke;
        color: black
    }

    .log {
        background-color: white;
        color: gray;
        font-family: "sans-serif"
    }

    .signup {
        color: black;
        background-color: dodgerblue;
        margin-left: -35px;
        font-family: "sans-serif"
    }

    .log:active {
        background-color:
    }
/*    .matter{
        text-align: center;
    }*/
.one {
    float: left;
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
}
/*.one img{
       margin-top: 90px;
    padding-left: 210px; 
    width:300px;
}
.one button{
    border: 0px;
    border-radius: 50px;
    width: 275px;
    font-size: 20px;
    background-color: lightblue;
    height: 35px;

}*/
.two{
    float: right;
    margin-right: 20px;
    padding-right: 20px;
    padding: 50px;
    border-bottom: 5px;



}
.two h2{
    margin-bottom: 20px;
    /*text-align: center;*/
}
.two p{
    margin-bottom: 25px;
    /*text-align: center;*/
}
.g{
    float: right;
    margin-top: -38px;

}
.j{
    margin-left: 29px;
    margin-top: 30px;
}#e{
    width: 340px
}
.details{
    border-top: none;
    border-right: none;
    border-left: none;
    background:transparent;
    outline:0px; 
    border-bottom-color: dodgerblue;
    width: 150px;

}
.man{
    margin-left: 30px;
    margin-top: 30px;
}



}

.two button{
    border: 0px;
    border-radius: 50px;
    width: 54px;
    font-size: 20px;
    background-color: lightblue;
    height: 40px;
    margin-left:150px; 

}
.footer {
        position: relative;
        width: 100%;
        background-color: #0d0d0d;
        color: white;
        float: left;

    }

    .image {
        float: left;
        padding: 70px;
    }

    .abt {
        float: left;
        padding: 70px;
    }

    .sup {
        float: left;
        padding: 70px;
    }

    .cls {
        text-align: justify;
        padding: 70px;
    }

    .cls p 
    {
        text-align: justify;
    }

    .social 
    {
        margin-right: 180px;
        float: right;
        margin-top: -126px;
    }





