*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.maindiv{
	background-image: url("../images/background.png");
	width: 100%;
	height: 630px;
}
.subdiv{
	width: 450px;
	height: 630px;
	float: right;
	background-color: #f1f1f1;
}
.b1{
	    float: right;
    width: 50px;
    height: 30px;
    border-radius: 110px;
    margin-right: 27px;
    margin-top: 10px;
}
.b2{
	    float: left;
    width: 50px;
    height: 30px;
    border-radius: 110px;
    margin-right: 27px;
    margin-top: 10px;
}
.simg{
	    margin-left: 60px;
   border-radius: 50%;
    margin-top: 40px;
    width: 140px;
    height: 140px;
}
.matter{
	margin-top: 15px;
}
.subdiv h2,h3{
	margin-left: 170px;
}

.subdiv h2{
	margin-top: 5px;
	margin-left: 130px
}
.subdiv h3{
	margin-top: 5px;
	margin-left: 140px
}
.buttons{
	margin-left: 100px;
	
}
.j{
	margin-left: 30px;
	margin-top: 30px;

}
.logo{
	margin-left: 100px;
	width: 250px;
	height:160px;
	margin-top: 20px;
}

.details{
	border-top: none;
	border-right: none;
	border-left: none;
	background:transparent;
	outline:0px; 
	border-bottom-color: dodgerblue;
	width: 350px;
}
#e{
	width: 350px
}
.man{
	margin-left: 30px;
	margin-top: 30px;
}